.add-btn {
    background-color: #4338ca;
}

.archived-btn {
    background-color: #312e81;
}

.archive-btn {
    background-color: #dc2626;
}

.edit-btn {
    background-color: #fbbf24;
}

.show-btn {
    background-color: #3a85f5;
}