.add-btn {
    background-color: #4338ca;
}

.archived-btn {
    background-color: #312e81;
}

.archive-btn {
    background-color: #dc2626;
}

.edit-btn {
    background-color: #fbbf24;
}

.show-btn {
    background-color: #3a85f5;
}

.approve-btn {
    background-color: #10b981;
}

.download-btn {
    background-color: #818cf8;
}

.modal {
    overflow-y-auto: auto;
}


.modal-box {
    width: 500px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.font-bold {
    font-weight: bold;
}

.text-lg {
    font-size: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-action {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.placeholder-input {
    background-color: #e2e8f0;
    padding: 0.25rem;
    border-radius: 0.25rem;
    outline: none;
    border: 1px #cbd5e1 solid;
}

.select2- {
    @apply p-2;
}
